<html>

<body>
  <script type="text/javascript" src="./src/dist/lightwallet.min.js"></script>
  <script type="text/javascript" src="./src/dist/omg.js"></script>
  <script type="text/javascript" src="./src/dist/web3.js"></script>
  <script type="text/javascript" src="./src/dist/hooked-web3-provider.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bluebird@3.5.3/js/browser/bluebird.min.js"></script>

  <link rel="stylesheet" type="text/css" href="wallet.css">

<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header"> header </slot>
          </div>

          <div class="modal-body">
            <slot name="body"> body </slot>
          </div>
         
        </div>
      </div>
    </div>
  </transition>
</script>

<div id="app">
  <div v-if="loadWallet" class="load-wallet">
      <h2>Load Wallet</h2>
      <div>
        <input v-model="seed" size="80"></input>
        <button v-on:click="restoreSeed">Restore from Seed</button>
      </div>
  </div>
  <div v-else class="wallet center">
    <h2>Plasma Wallet</h2>
    <div class="mono">{{ activeAccount.address }}</div>
    <div class="rootchain-balance">Rootchain: <span class="mono">{{ activeAccount.rootBalance  / 1.0e18 }}</span> ETH</div>
    <div>
      <div class="childchain-balance ">
        <div style="text-decoration: underline;" class="childchain-balance-header" >Childchain tokens</div>
        <div v-for="balance in activeAccount.childBalance">
          <div class="mono">
            {{ balance.currency }} <span >({{ balance.symbol }})</span>: 
            <span class="balance-amount">{{ balance.amount }}</span>
          </div>
        </div>
        <div class="center">
          <button v-on:click="refresh">Refresh</button>
        </div>
      </div>
    </div>
    <div class="wallet-actions">
        <button v-on:click="toggleDeposit">Deposit</button>
        <button v-on:click="toggleTransfer">Transfer</button>
        <button v-on:click="toggleExit">Exit</button>
    </div>

    <modal v-if="isShowDeposit">
      <h2 slot="header">Deposit</h2>
      <div slot="body">
        <div class="popup-from-address">From address: <span class="mono">{{ activeAccount.address }}</span></div>
        <div style="display: inline-block">
          <div class="popup-input">Token contract address (blank for ETH): <input v-model="depositCurrency" size="30"></input></div>
          <div class="popup-input">Amount <input v-model="depositAmount" size="30"></input></div>
          <div class="popup-input">approve ERC20 token before deposit <input type="checkbox" v-model="approveDeposit"></div>
        </div>
        <div>
          <button v-on:click="deposit(); toggleDeposit()">OK</button>
          <button v-on:click="toggleDeposit()">Cancel</button>
        </div>
      </div>
    </modal>

    <modal v-if="isShowTransfer">
      <h2 slot="header">Transfer</h2>
      <div slot="body">
        <div class="popup-from-address">From address: <span class="mono">{{ activeAccount.address }}</span></div>
        <div style="display: inline-block">
            <div class="popup-input">Token contract address (blank for ETH): <input v-model="transferCurrency" size="30"></input></div>
            <div class="popup-input">To address: <input v-model="transferToAddress" size="30"></input></div>
            <div class="popup-input">Amount: <input v-model="transferAmount" size="30"></input></div>
        </div>
        <div>
          <button v-on:click="transfer(); toggleTransfer()">OK</button>
          <button v-on:click="toggleTransfer()">Cancel</button>
        </div>
      </div>
    </modal>

    <modal v-if="isShowExit">
      <h2 slot="header">Exit</h2>
      <div slot="body">
        <div class="popup-from-address">From address: <span class="mono">{{ activeAccount.address }}</span></div>
        <div style="display: inline-block">
          <div class="popup-input">
            <select id="exitUtxo" v-model="utxoToExit">
              <option disabled value="">Select a UTXO to exit</option>
              <option v-for="utxo in utxos" v-bind:value="utxo">{{ utxo.currency }} : {{ utxo.amount }}</option>
            </select>
          </div>
        </div>
        <div>
          <button v-on:click="exit(); toggleExit()">OK</button>
          <button v-on:click="toggleExit()">Cancel</button>
        </div>
      </div>
    </modal>

  </div>
</div>

</body>

<script src="./src/wallet.js"></script>
</html>